<header class="config-header">
    <img src="/assets/png/logo-big.png" alt="" class="logo" (click)="redirectToHome()">
    <div class="title-container">
        <h1 class="title">Configurações Gerais</h1>
    </div>

    <div class="overlay">
        <img src="/assets/png/user-icon.png" alt="User Icon" (click)="confirmLogout()">
        <h1>Olá {{ username }}</h1>
    </div>
</header>

<div class="container">

    <div class="about-us">
        <h1>Sobre Nós</h1>
        <p>O SEALTH (Sistema Eficaz de Administração Logística e Tecnologia Hospitalar) é mais do que um projeto; é uma inovação projetada para transformar a gestão hospitalar. Fundindo tecnologia de ponta com especialização em saúde, nossa equipe comprometida concebeu uma solução completa e eficiente para atender às demandas exclusivas dos usuários de instituições médicas.</p>
    </div>

    <div class="config-form">
        <form (ngSubmit)="updateUser()">
            <div class="form-group">
                <div class="label-wrapper">
                    <label for="name">Nome:</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="name" name="name" [(ngModel)]="user.name">
                </div>
            </div>
            <div class="form-group">
                <div class="label-wrapper">
                    <label for="email">Email:</label>
                </div>
                <div class="input-wrapper">
                    <input type="email" id="email" name="email" [(ngModel)]="user.email">
                </div>
            </div>
            <div class="form-group">
                <div class="label-wrapper">
                    <label for="password">Nova senha:</label>
                </div>
                <div class="input-wrapper">
                    <input type="password" id="password" name="password" [(ngModel)]="user.password">
                </div>
            </div>
            <div class="form-group">
                <div class="button-submit">
                    <button type="submit">Salvar Alterações</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="image-container">
    <img src="/assets/png/config-ilustration.png" alt="Imagem Direita" class="right-image">
</div>
