<header class="info-header">
    <img src="/assets/png/logo-big.png" alt="" class="logo" (click)="redirectToHome()">
    <div class="title-container">
        <h1 class="title">Informações Importantes</h1>
    </div>
    <img src="/assets/png/user-icon.png" alt="User Icon" class="user-icon">
</header>

<div class="grid-container">
    <div class="grid-item">
      <div class="balloon">
        <div class="balloon-content">
          <img src="/assets/images/cover1.jpg" alt="Capa 1">
          <h2>Título do Artigo 1</h2>
          <p>Descrição curta do artigo 1.</p>
          <a href="#">Link para o Artigo 1</a>
        </div>
        <div class="balloon-arrow"></div>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="balloon">
        <div class="balloon-content">
          <img src="/assets/images/cover2.jpg" alt="Capa 2">
          <h2>Título do Artigo 2</h2>
          <p>Descrição curta do artigo 2.</p>
          <a href="#">Link para o Artigo 2</a>
        </div>
        <div class="balloon-arrow"></div>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="balloon">
        <div class="balloon-content">
          <img src="/assets/images/cover3.jpg" alt="Capa 3">
          <h2>Título do Artigo 3</h2>
          <p>Descrição curta do artigo 3.</p>
          <a href="#">Link para o Artigo 3</a>
        </div>
        <div class="balloon-arrow"></div>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="balloon">
        <div class="balloon-content">
          <img src="/assets/images/cover4.jpg" alt="Capa 4">
          <h2>Título do Artigo 4</h2>
          <p>Descrição curta do artigo 4.</p>
          <a href="#">Link para o Artigo 4</a>
        </div>
        <div class="balloon-arrow"></div>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="balloon">
        <div class="balloon-content">
          <img src="/assets/images/cover5.jpg" alt="Capa 5">
          <h2>Título do Artigo 5</h2>
          <p>Descrição curta do artigo 5.</p>
          <a href="#">Link para o Artigo 5</a>
        </div>
        <div class="balloon-arrow"></div>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="balloon">
        <div class="balloon-content">
          <img src="/assets/images/cover6.jpg" alt="Capa 6">
          <h2>Título do Artigo 6</h2>
          <p>Descrição curta do artigo 6.</p>
          <a href="#">Link para o Artigo 6</a>
        </div>
        <div class="balloon-arrow"></div>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="balloon">
        <div class="balloon-content">
          <img src="/assets/images/cover7.jpg" alt="Capa 7">
          <h2>Título do Artigo 7</h2>
          <p>Descrição curta do artigo 7.</p>
          <a href="#">Link para o Artigo 7</a>
        </div>
        <div class="balloon-arrow"></div>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="balloon">
        <div class="balloon-content">
          <img src="/assets/images/cover8.jpg" alt="Capa 8">
          <h2>Título do Artigo 8</h2>
          <p>Descrição curta do artigo 8.</p>
          <a href="#">Link para o Artigo 8</a>
        </div>
        <div class="balloon-arrow"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Imagem à esquerda -->
    <img src="/assets/png/student-one.png" alt="Imagem Esquerda" class="left-image">
  
    <!-- Imagem à direita -->
    <img src="/assets/png/student-two.png" alt="Imagem Direita" class="right-image">
  </div>