@import "../../../styles/variables.scss";

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    max-width: auto; 
}

.logo {
    width: 400px; 
    height: auto;
}

.user-icon {
    width: 180px; 
    height: auto;
    margin-bottom: 40px;
}

.overlay {
  position: fixed;
  top: 20px;
  right: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Estilos para as imagens dentro da overlay */
.overlay img {
  width: 180px;
  height: auto;
  margin-bottom: 5px;
}

/* Estilos para o texto dentro da overlay */
.overlay h1 {
  font-size: 36px;
}

.title-container {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: $primary-color; 
    border-radius: 30px; 
    padding: 10px; 
    max-width: 700px;
}

.title-container h1 {
    color: white; 
    margin: 0; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  border-radius: 20px;
  padding: 30px;
}

.grid-item {
  display: flex;
  justify-content: center;
}

.balloon {
  position: relative;
  width: 350px;
  background-color: $primary-color;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  }
}

.balloon-arrow {
  position: absolute;
  width: 20px;
  height: 0px;
  background-color: $primary-color;
  transform: rotate(45deg);
  top: -10px;
  left: 50%;
  margin-left: -10px;
}

.balloon-content {
  text-align: center;
}

.balloon-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.balloon-content h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

.balloon-content p {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}

.balloon-content a {
  color: white;
  text-decoration: none;
}

.balloon-content a:hover {
  text-decoration: underline;
}

.container {
  position: relative; 
}

.left-image, .right-image {
  position: absolute; 
  bottom: 0; 
}

.left-image {
    position: absolute;
    right: 550px;
    bottom: 0;
    width: 400px; 
    height: auto; 
  }
  
  .right-image {
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 400px; 
    height: auto; 
  }

