<img src="/assets/png/logo-big.png" alt="" class="logo">

<div class="container">
    <div class="row">
        <div class="module-extra"></div>
        <div class="module-big" (click)="openAppointmentsComponent()">
            <img class="icon" src="/assets/png/calendario-icon.png" alt="Logo">
            <span class="line1">Minhas</span>
            <span class="line2">Consultas</span>
            <img class="open-icon" src="/assets/png/open-icon.png" alt="Abrir">
        </div>
    </div>
    <div class="row">
        <div class="module">
            <img class="icon" src="/assets/png/medicamentos-icon.png" alt="Medicamentos">
            <span class="line1">Meus</span>
            <span class="line2">Medicamentos</span>
            <img class="open-icon" src="/assets/png/open-icon.png" alt="Abrir">
        </div>
        <div class="module" (click)="openInfoComponent()">
            <img class="icon" src="/assets/png/avisos-icon.png" alt="Informações Importantes">
            <span class="line1">Informações</span>
            <span class="line2">Importantes</span>
            <img class="open-icon" src="/assets/png/open-icon.png" alt="Abrir">
        </div>
    </div>
    <div class="row">
        <div class="module" (click)="openHealthComponent()">
            <img class="icon" src="/assets/png/saude-icon.png" alt="Saúde">
            <span class="line1">Minha</span>
            <span class="line2">Saúde</span>
            <img class="open-icon" src="/assets/png/open-icon.png" alt="Abrir">
        </div>
        <div class="module" (click)="openConfigComponent()">
            <img class="icon" src="/assets/png/config-icon.png" alt="Configurações Gerais">
            <span class="line1">Configurações</span>
            <span class="line2">Gerais</span>
            <img class="open-icon" src="/assets/png/open-icon.png" alt="Abrir">
        </div>
    </div>
</div>

<div class="overlay">
    <img src="/assets/png/user-icon.png" alt="User Icon">
    <h1>Olá Lucas</h1>
</div>

<img src="/assets/png/home-ilustration.png" alt="" class="home-ilustration">