@import "../../../styles/variables.scss";

.header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    max-height: 150px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px; 
  }
  
  .menu li:last-child {
    margin-right: 0; 
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .content {
    text-align: center;
    margin-top: 20px; 
  }

  .content img {
    max-width: 25%;
    height: auto; 
  }
  
  .content p {
    font-size: 25px; 
    color: $secondary-color;
  }
  
  .tagline {
    font-size: 18px;
    margin-bottom: 20px; 
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #046B46;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .start-button:hover {
    background-color: #035c35;
  }

  .section {
    height: 100vh; 
    scroll-margin-top: 60px;
  }

  #sobre {
    display: flex; 
    align-items: center; 
  }
  
  #sobre .content {
    flex: 1; 
  }
  
  #sobre img {
    max-width: 90%; 
    height: auto; 
    margin: 0; 
}
  
  #sobre h2 {
    font-size: 45px;
    color: $primary-color; 
    margin-bottom: 30px; 
  }

  #sobre p {
    font-size: 22px; 
    margin-right: 30px; 
  }

  #contato {
    display: flex;
    align-items: center;
  }
  
  #contato h2 {
    font-size: 45px;
    color: $primary-color; 
    margin-bottom: 30px;
  }
  
  .contact-info {
    flex: 1;
  }
  
  .contact-info p {
    font-size: 22px;
  }

  #contato img {
    max-width: 90%; 
    height: auto; 
    margin: 0; 
}

#servicos h2 {
  font-size: 45px;
  color: $primary-color; 
  margin-bottom: 30px; 
}

#servicos p {
  text-align: left; 
  font-size: 16px; 
  margin-bottom: 20px; 
  margin-left: 30px;
}