<div class="header">
    <img src="/assets/png/logo-big.png" alt="Logo do Sistema" class="logo">
    <ul class="menu">
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="#sobre">Sobre</a></li>
    </ul>
</div>

<div class="content">
    <p class="tagline">Fique tranquilo sabendo que sua saúde está em boas mãos.</p>
    <button class="start-button" (click)="openLogin()">Comece Agora</button>
</div>

<div class="content">
    <section id="servicos" class="section">
      <!-- Conteúdo da sessão Serviços -->
    </section>
    
    <section id="contato" class="section">
      <!-- Conteúdo da sessão Contato -->
    </section>
    
    <section id="sobre" class="section">
      <!-- Conteúdo da sessão Sobre -->
    </section>
</div>