@import "../../../styles/variables.scss"; 

.medicines-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: auto;
}

.medicines-header .logo,
.medicines-header .user-icon {
    width: 400px; 
    height: auto;
}

.medicines-header .user-icon {
    width: 180px; 
    height: auto;
    margin-bottom: 40px; 
}

.medicines-header .title-container {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: $primary-color; 
    border-radius: 30px; 
    padding: 10px; 
    max-width: 700px; 
}

.medicines-header .title-container h1 {
    color: white; 
    margin: 0; 
}

.main-container {
    display: flex;
}

.medicines-container,
.download-container {
    flex: 1; 
    margin-right: 20px; 
}

.medicines-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medicines-module {
    position: relative;
    width: 700px;
    height: 450px;
    background-color: $primary-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-size: 30px; 
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 40px; 
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 100px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    }
}

.module-title {
    color: white;
    margin-bottom: 10px;
    align-self: center;
    margin-top: 10px;
}

.download-container {
    position: relative; 
    width: 600px; 
    height: 600px; 
}

.download-module {
    position: relative;
    width: 650px;
    height: 300px;
    background-color: $primary-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 40px;
    margin-right: 100px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    }
}

.image-corner {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 1000px; 
    height: auto; 
}

.download-content {
    margin-top: 10px;
    display: flex; 
    align-items: center; 
}

.download-icon {
    width: 100px; 
    height: auto;
    margin-right: 30px;
}

.select-text {
    margin: 0; 
}

.overlay {
    position: fixed;
    top: 20px;
    right: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.overlay img {
    width: 180px;
    height: auto;
    margin-bottom: 5px;
}

.overlay h1 {
    font-size: 36px;
}

.download-content a:visited {
    color: white; 
    text-decoration: none; 
}