@import "../../../styles/variables.scss";

.health-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: auto;
}

.health-header .logo,
.health-header .user-icon {
    width: 400px; 
    height: auto;
}

.health-header .user-icon {
    width: 180px; 
    height: auto;
    
}

.health-header .title-container {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color; 
    border-radius: 30px; 
    padding: 10px; 
    max-width: 700px; 
}

.health-header .title-container h1 {
    color: white; 
    margin: 0; 
}

.modules-container {
    display: flex;
    justify-content:  space-around;
    width: 100%;
}

.health-module {
    position: relative;
    width: 370px;
    height: 300px;
    background-color: $primary-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 26px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
    

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    }
}
.results-module {
    position: relative;
    width: 500px;
    height: auto; 
    background-color: $primary-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 26px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
   
   

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    }
}



.module-title {
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    
    
}

.info-container {
    margin-top: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label-wrapper {
    width: 100px;
}
.label-wrapper-final {
    width: 230px;
}

.info-text {
    color: white;
    padding: 8px;
    border-radius: 5px;
}

//results module


.results-module .module-title {
    color: white;
}

.results-module .info-container {
    margin-top: 10px;
}

.results-module .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.results-module .label-wrapper {
    width: 300px; 
}

.results-module .info-text {
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.health-evaluation {
    position: relative;
    width: 450px;
    height: 250px;
    background-color: $primary-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 26px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
    
    
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    }
}

.image-corner {
    position: fixed;
    bottom: 0;
    right: 90px;
    width: 360px; 
    height: auto; 
    
}

.overlay {
    position: fixed;
    top: 20px;
    right: 240px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Estilos para as imagens dentro da overlay */
.overlay img {
    width: 140px;
    height: auto;
    margin-bottom: 5px;
}

/* Estilos para o texto dentro da overlay */
.overlay h1 {
    font-size: 36px;
}