<header class="appointments-header">
    <img src="/assets/png/logo-big.png" alt="" class="logo" (click)="redirectToHome()">
    <div class="title-container">
        <h1 class="title">Minhas Consultas</h1>
    </div>
    
    <div class="overlay">
        <img src="/assets/png/user-icon.png" alt="User Icon" (click)="confirmLogout()">
        <h1>Olá {{ username }}</h1>
    </div>
    
</header>

<div class="main-container">
    <div class="appointments-containner">
        <div class="appointments-module">
            <h2 class="module-title">Dados da Consulta</h2>
            <div class="info-container">
                <p>Data: 21 de Março de 2024</p>
                <p>Médico: Dr. João</p>
                <p>Especialidade: Oftalmologista</p>
                <p>Local: Hospital XYZ</p>
                <p class="info-extra">Informações Extras:</p>
                <p class="important-info">Favor comparecer 30 minutos antes.</p>
                <p class="important-info">Em caso de desistencia, cancelar pelo portal.</p>
            </div>
        </div>
        <div class="buttons-container">
            <button class="button">Atualizar</button>
            <button class="button">Cancelar</button>
        </div>
    </div>
    
    <div class="calendar-container">
        <div class="calendar"></div>
        <img src="/assets/png/calendar-background.png" alt="Imagem" class="calendar-image">
    </div>
</div>