<header class="appointments-header">
    <img src="/assets/png/logo-big.png" alt="" class="logo" (click)="redirectToHome()">
    <div class="title-container">
        <h1 class="title">Minhas Consultas</h1>
    </div>
    
    <div class="overlay">
        <img src="/assets/png/user-icon.png" alt="User Icon" (click)="confirmLogout()">
        <h1>Olá {{ username }}</h1>
    </div>
    
</header>

<div class="main-container">
    <div class="calendar-container">
        <div class="appointments-module">
            <h2 class="module-title">Consultas Marcadas</h2>
            <ul class="appointment-list">
                <li *ngFor="let appointment of appointments" (click)="selectAppointment(appointment)">
                    <p>Especialidade: {{ appointment.specialty }}</p>
                    <p>Data: {{ appointment.date }}</p>
                </li>
            </ul>
        </div>
        <div class="buttons-container">
            <button class="button">Marcar</button>
            <button class="button">Cancelar</button>
        </div>
    </div>
    <div class="appointments-container">
        <div class="appointments-module">
            <h2 class="module-title">Dados da Consulta</h2>
            <div class="info-container">
                <p class="info-extra">Médico: {{ selectedAppointment?.doctor }} </p>
                <p class="info-extra">Especialidade: {{ selectedAppointment?.specialty }}</p>
                <p class="info-extra">Data: {{ selectedAppointment?.date }}</p>
                <p class="info-extra">Local: {{ selectedAppointment?.location }}</p>
                <p class="info-extra">Informações Extras: {{ selectedAppointment?.extraInfo }}</p>
        </div>
    </div>
</div>